<html>
  <head>
    {% if title %}
    <title>{{title}} - Subscriptions</title>
    {% else %}
    <title>Subscriptions</title>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="/static/main.css" /> -->
    {% endif %}
  </head>
  <body>
    <div> 
        <a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('dashboard') }}">Dashboard</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        |<a href="{{ url_for('login') }}">Login</a>
        |<a href="{{ url_for('registration') }}">Registration</a>
        {% endif %}
    </div>
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>