{% extends "base.html" %}
{% block content %}
    
    {% if errors %}
        <p>При получении ваших подписок произошла ошибка:</p>
        <p>{{ errors }}</p>
    {% else %}
        <p>Ваши подписки:</p>
        {% if subscriptions_list %}
            <ul>
            {% for item in subscriptions_list %}                
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ subscriptions_str }}</p>
        {% endif %}
    {% endif %}

{% endblock %}