{% extends "base.html" %}
{% block content %}
    
    {% if errors %}
        <p>При получении ваших подписок произошла ошибка:</p>
        <p>{{ errors }}</p>
    {% else %}
        <h3>Your subscriptions:</h3>
        {% if subscriptions_list %}

            {% for item in subscriptions_list %}   
            <div class="col-lg-12">
                <div class="input-group">
                    {% if item.status == 0 %}
                        <form action="/dashboard" method="POST" name="{{ item.id }}">
                            <span class="input-group-addon" id="basic-addon3">{{ item.name }}</span>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">Remove</button>
                            </div>
                            <input type="hidden" name="subscriptionId" value="{{ item.id }}">
                        </form>
                    {% elif item.status == 1 %}
                        <form action="/dashboard" method="POST" name="{{ item.id }}">
                            <span class="input-group-addon" id="basic-addon3">{{ item.name }}</span>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" disabled="disabled">Awaiting removing</button>
                            </div>
                            <input type="hidden" name="subscriptionId" value="{{ item.id }}">
                        </form>
                    {% elif item.status == 2 %}
                        <form action="/dashboard" method="POST" name="{{ item.id }}">
                            <span class="input-group-addon" id="basic-addon3">{{ item.name }}</span>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">Try one more</button>
                            </div>
                            <input type="hidden" name="subscriptionId" value="{{ item.id }}">
                        </form>
                    {%  endif %}
                </div> 
            </div>
            {% endfor %}

        {% else %}
            <p>{{ subscriptions_str }}</p>
        {% endif %}
    {% endif %}


{% endblock %}

