<!DOCTYPE html>
<html lang="en">
<head>

    <title>Отмени подписку!</title>

</head>

<body>
    
    <h2>Привет, {{ user_info.firstName }} {{ user_info.lastName }}!</h2>
    <p><b>Ваш адрес:</b> <i>{{ user_info.invoiceAddr }}</i></p>
    {% if errors %}
        <p>При получении ваших подписок произошла ошибка:</p>
        <p>{{ errors }}</p>
    {% else %}
        <p>Ваши подписки:</p>
        {% if subscriptions_list %}
            <ul>
            {% for item in subscriptions_list %}                
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ subscriptions_str }}</p>
        {% endif %}
    {% endif %}

</body> 

</html>