{% extends "base.html" %}
{% block content %}

    <h1>Sign in</h1>>
    {% if error %}
        <h1 style='color: red'>{{ error }}</h1>
        
    {% endif %}
    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        <p>
            Phone:
            {{form.ctn1(size=11)}}
            {% for error in form.ctn1.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>            
        </p>
        <p>
            Login:
            {{form.login(size=50)}}
            {% for error in form.login.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>            
        </p>
        <p>
            Password:
            {{form.password(size=50, type='password')}}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>            
        </p>


<!--         <p>{{form.remember_me}} Remember me</p> -->
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}