<!DOCTYPE html>
<html lang="en">
<head>
    <title>Отмени подписку!</title>
</head>
<!-- <body>
    {% if error %}
        <h1 style='color: red'>{{ error }}</h1>
        <p></p>
    {% endif %}
    <form action="/" method="post">
        <p><input name="login" value="login"></p>
        <p><input name="password" value="password"></p>
        <p><input name="ctn" value="phone number"></p>
        <p><button>Welcome!</button></p>
    </form>
</body> 
-->

<body>
    {% if error %}
        <h1 style='color: red'>{{ error }}</h1>
        <p></p>
    {% endif %}
    <form action="/" method="post">
        <p><input name="login" value="login"></p>
        <p><input name="password" value="password"></p>
        <p><input name="ctn" value="phone number"></p>
        <p><button>Welcome!</button></p>
    </form>
</body> 


</html>