{% extends "base.html" %}
{% block content %}

    <h1>Registration</h1>>
    {% if error %}
        <h1 style='color: red'>{{ error }}</h1>        
    {% endif %}

    <form action="/registration" method="post">
        {{ form.hidden_tag() }}

        <label for="email">Email</label>
        <div class="input-group">
            {{form.email(size=30, type='text', class='form-control', id='ctn')}}
            
            {% for error in form.email.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div>

        <label for="ctn">Phone</label>
        <div class="input-group">
            {% if ctn %}
            {{form.ctn1(size=30, type='text', class='form-control', id='ctn', value=ctn)}}
            {% else %}
                {{ form.ctn1(size=30, type='text', class='form-control', id='ctn') }}
            {% endif %}
            {% for error in form.ctn1.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div>

        <label for="username">Username</label>
        <div class="input-group">
            {{form.username(size=30, type="text", class="form-control", id="username")}}            
            {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div>

        <label for="password">Password</label>
        <div class="input-group">
            {{form.password(size=30, type="password", class="form-control", id="password")}}            
            {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div> 

        <label for="confirm">Confirm</label>
        <div class="input-group">
            {{form.confirm(size=30, type="password", class="form-control", id="confirm")}}            
            {% for error in form.confirm.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div> 

        <div class="btn-group">
            <button type="submit" class="btn btn-default btn-lg">Registration and Sign In</button>
        </div>
    </form>
{% endblock %}