{% extends "base.html" %}
{% block content %}

    <h2><b>{{ user.username }}</b></h2>
    <ul class="list-unstyled">
        <li>
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ user.ctn }}
        </li>
        <li>
           <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ user.email }}
        </li>
        <li>
            <b>Birth:</b> {{ user.birth_day }}
        </li>
        <li>
        </li>
    </ul>


    <h5><b>About:</b></h5>
    <textarea cols=37, rows=5 readonly="readonly">{{ user.about_me }}
    </textarea></br>
    <p></p>
	<a href="{{ url_for('edit', username = g.user.username) }}">Edit profile</a>
	

{% endblock %}
